<h1>My Travel Bucket List</h1>
<h2>About</h2>

<p id= "hometext">My Travel Bucket list is an application that allows you to track countries and cities you want to visit and those that you have already visited.
  <br>
  <br>
In My Travel Bucket List, you can create, edit and delete countries, create edit and delete cities, mark destinations as visited or still to see, and rate the cities that you have visited!
<br>
<br>
Now go and explore! </p>
