<h2>Cities</h2>

<div id="city-wrapper">
  <% @cities.each do |city| %>

  <div class="city">
    <h3><a href="/cities/<%= city.id %>"><%= city.name.capitalize %></a></h3>
    <p>Country: <%= city.country.name.capitalize %></p>
    <p>Visited: <%= city.visited %></p>
  </div>

  <% end %>
</div>

<p>Planning your next trip?</p>

<a href="https://www.skyscanner.net/" target="_blank">Flights</a>
<a href="https://www.airbnb.co.uk/" target="_blank">Places to Stay</a>
