<h2>Add City</h2>
<form method="post" action="/cities">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">City Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="country_select">Select Country:</label>
      <select name="country_id" id="country_select">
        <option disabled selected value> -- Please Select --</option>
        <% @country.each do |country| %>
            <option value=<%= country.id %>><%= country.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="visited_select">Visited?</label>
      <select name="visited" id="visited_select">
        <option disabled selected value> -- Please Select --</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
      </select>
    </div>

    <div class="form-el">
      <label for="rating_select">Rating</label>
      <select name="rating" id="rating_select">
        <option disabled selected value> -- Please Select --</option>
            <option value="Not visited yet">Not visited yet</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

      </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Add City"/>
    </div>

  </div>
</form>
