<h2>Add City</h2>
<form method="post" action="/cities">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="country_select">Select Country:</label>
      <select name="country_id" id="country_select">
        <% @country.each do |country| %>
            <option value=<%= country.id %>><%= country.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="visited_select">Visited?</label>
      <select name="visited" id="visited_select">
            <option value="yes">yes</option>
            <option value="no">no</option>
      </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Add City"/>
    </div>

  </div>
</form>
