<p>Warning: Deleting a country from your bucket list will delete all cities in that country!</p>
<p>Are you sure you want to delete this country?</p>




<form action= "/countries/<%= @country.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<form action= "/countries/<%= @country.id %> " method="get"><input type="submit" value="Cancel"></form>
