<h2>Edit <%= @country.name.capitalize %></h2>
<form method="POST" action="/countries/<%= @country.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Country Name:</label>
      <input type="text" name="name" id="name"  <%= @country.name %> />
    </div>

    <div class="form-el">
      <input type="submit" value="Add Country"/>
    </div>

  </div>
</form>
