<h2>Countries</h2>

<div id="country-wrapper">
  <% @countries.each do |country| %>

  <div class="country">
    <h3><a href="/countries/<%= country.id %>"><%= country.name.capitalize %></a></h3>
  </div>

  <% end %>
</div>
