<h1>Countries</h1>

<div id="country-wrapper">
  <% @countries.each do |country| %>

  <div class="country">
    <h3><a href="/countries/<%= country.id %>"><%= country.name.capitalize %></a></h3>
  </div>

  <% end %>
</div>
<div


<p class="inspiration">Need inspiration for your next trip? Try the random country generator!</p>
<p class="inspiration">The country I will travel to next is ... </p>
<br>
<br>
<a class="random" href="https://random.country/" target="_blank"> This Great Land</a>

</div>
