<h2>Countries</h2>

<div id="country-wrapper">
  <% @countries.each do |country| %>

  <div class="country">
    <h3><a href="/countries/<%= country.id %>"><%= country.name.capitalize %></a></h3>
  </div>

  <% end %>
</div>

<p>Need inspiration for your next trip? Try the random country generator!</p>
<p>The country I will travel to next is ... </p>
<a href="https://random.country/" target="_blank"> This Great Land</a>
